*/log
*/attached
*/bin
*/obj
*/Web.config
*/Properties/PublishProfiles
*/Files
Web/node_modules
web/images
web/img
web/media
web/bin
web/obj
web/pdf-viewer
web/fonts
node_modules
.vs
.git
*.dll
*.pdb
framework.Identity/bin
framework.Identity/obj
framework.models/bin
framework.models/obj
packages
*.user
*.zip
*.rar
/ServiceHost/Files/Uploads
/CRM.Persistance.EF/bin/Debug
/CRM.Persistance.EF/obj/Debug
/CRM.Repository.MongoDb/bin/Debug
/CRM.Repository.MongoDb/obj/Debug
/Framework.Infrastracture/obj/Debug
/Web/dist/css
/Web/dist
/CRM.Persistance.EF/bin/Release
/CRM.Persistance.EF/obj/Release
/CRM.Repository.MongoDb/bin/Release
/CRM.Repository.MongoDb/obj/Release
/Framework.Infrastracture/obj/Release
/Framework.Helpers/obj/Release
/Framework.Helpers/obj/Debug
Framework.Helpers/obj
*/bin/Debug
*/obj/Debug
/Web/Web.v3.ncrunchproject
/Web/Web.v3.ncrunchproject.user
/_NCrunch_Simple-Angular/Simple-Angular.crunchsolution.cache
/_NCrunch_Simple-Angular/Simple-Angular.executiontimes.cache
/_NCrunch_Simple-Angular/StoredText
/Framework.Helpers.Tests/obj/Release
*/obj
*/bin
/bre-simple
/Crm.Interface/Files
/CRM.Interface/attached
/CRM.Interface/Properties/PublishProfiles
/node_modules/angularjs
/CRM.Shipping.AccountingRejector/CRM.Shipping.AccountingReject.csproj.user
/CRM.Shipping.AccountingRejector/CRM.Shipping.AccountingReject_TemporaryKey.pfx
/CRM.Shipping.AccountingRejector/publish
*.ncrunchproject
/CRM.Web/wwwroot
/Web/css/kendo
*.log
bin
obj
fonts
*/Crm.Reports/Files
web/webpack/bundle.js
*.txt
bundle.js
Simple-Angular.v3.ncrunchsolution.user
/_NCrunch_Avid/Avid.crunchsolution.cache
/_NCrunch_Avid/Avid.executiontimes.cache